@import '../../scss/main.scss';

.collapse{
    max-width: 85%;
    margin: 0 auto;

    &__title{
        border-radius: 5px;
        background-color: $primary-color;
        color: $tertiary-color;
        font-weight: 500;
        font-size: 24px;
        cursor: pointer;
        padding: 0.5rem 1rem;
        margin: 1rem 1rem 0rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .arrow{
            transition: all 0.2s ease-in-out;

            &__up {
                transform: rotate(0deg);
            }

            &__down {
                transform: rotate(180deg);
            }
        }
    }

    &__content{
        background-color: #F7F7F7;
        color: $primary-color;
        margin: 0 1rem;
        padding: 1.5rem 1rem 1rem 1rem;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;

        
        
        &__hidden{
            opacity: 0;
        }          
    }
}
