@import '../../scss/main.scss';

.carrousel{
    position: relative;
    width: 100%;
    margin-top: 1rem;

    &__img {
        width: 100%;
        height: 35rem;
        object-fit: cover;
        border-radius: 25px;
    }
    
    &__arrowLeft{
        position: absolute;
        top: 43%;
        height: 15%;
        cursor: pointer;
        left: 25px;

        @include mobile-only {
            height: 40px;
        }
    }

    &__arrowRight{
        position: absolute;
        top: 43%;
        height: 15%;
        cursor: pointer;
        right: 25px;

        @include mobile-only {
            height: 40px;
        }
    }

    &__number{
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: $tertiary-color;
        font-weight: 500;
        font-size: clamp(14px, 2vw, 18px);
    }
}