@import '../../scss/main.scss';


.gallery {
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    border-radius: 25px;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 5rem 3rem;
    margin: 1rem 0;

    @include mobile-only {
        gap: 1rem;
        padding: 2rem 1rem;
        width: 100%;
        background-color: $tertiary-color;
    }
}